<!--
<div ng-controller="DashboardController as dashboard">
    <p>DashboardController</p>
</div>
-->

<div ng-controller="DashboardController as dashboard" layout="column" style="height: 1000px;" ng-cloak>
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools" layout="row" layout-align="center center">INTEKHAB SUPPLY</h1>
    </md-toolbar>
    <section layout="row" flex>

        <md-sidenav
                class="md-sidenav-left"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')"
                md-whiteframe="4">

            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools" layout="row" layout-align="center center">Sidenav Left</h1>
            </md-toolbar>
            <md-content layout-margin>
                <div layout="column" layout-align="top left">


                    <md-button ng-click="dashboard.customers()">Customer</md-button>

                    <md-button ng-click="dashboard.customersView()">Order</md-button>

                    <md-button ng-click="dashboard.logout()">LOGOUT</md-button>

                </div>


            </md-content>

        </md-sidenav>

        <md-content flex layout-padding>


            <div ng-if="dashboard.CustomerView" layout="column" layout-align="top center">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">View Order</h1>
                </md-toolbar>

                <table class="table  table-striped bordered">
                    <thead>
                    <tr>
                        <th data-field="id">Product Name</th>
                        <th data-field="name">Product Qunatity</th>
                    </tr>
                    </thead>


                    <tbody>

                            <tr ng-repeat="i in dashboard.products">
                                <td>{{i.productName}}</td>
                                <td>{{i.productQuantity}}</td>
                            </tr>

                    </tbody>
                </table>


            </div>


            <div ng-if="dashboard.CustomerViewForOrder" layout="column" layout-align="top center">

                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">Place Order</h1>
                </md-toolbar>

                <div layout="column" layout-align="top center">

                    <div ng-repeat="i in dashboard.customerOrders track by $index">
                        <md-input-container>
                            <label>Product Name</label>
                            <input ng-model="dashboard.customerOrders[$index].productName" type="text"/>
                        </md-input-container>

                        <md-input-container>
                            <label>Quantity</label>
                            <input ng-model="dashboard.customerOrders[$index].productQuantity" type="number"/>
                        </md-input-container>

                        <md-input-container>
                            <label>Date To Deliver</label>
                            <input ng-model="dashboard.customerOrders[$index].dateToDeliver" type="date"/>
                        </md-input-container>
                    </div>
                </div>


                <md-button  class="md-raised" ng-click="dashboard.incrementCustomerOrder()">add</md-button>
                <!--<a class="btn-floating btn-large waves-effect waves-light red" ><i class="material-icons">add</i></a>-->

                <md-button ng-click="dashboard.placeOrder()" class="md-raised">
                    Place Order
                </md-button>


            </div>


        </md-content>

    </section>

</div>