<section >
    <aside style="width: 24vh; background-color: #80797a;height: 100vh;display: -webkit-inline-box;">

        <ul style="list-style: none; font-size: 20px;">
            <li>
                <a style="color: #e2f3ff" ui-sref="dashboard">HOME</a>
            </li>
            <li>
                <a style="color: #e2f3ff" ui-sref="view">MENU</a>
            </li>
            <li>
                <a style="color: #e2f3ff">DEALS</a>
            </li>
            <li>
                <a style="color: #e2f3ff">ORDERS</a>
            </li>
            <li>
                <a style="color: #e2f3ff">CONTACT US</a>
            </li>
        </ul>
    </aside>

</section>
