<div ng-controller="SignupController as signup" id="myImage">
    <!-- Page Content -->


    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-10" style="margin-top: 25%;">
                <div id="content" class="grey-blue login">

                    <!-- Main Content -->
                    <div class="login-form animated fadeinup delay-2 z-depth-1">

                        <h1>SignUp</h1>


                        <form name="SignupForm">
                            <div class="input-field">
                                <i class="ion-android-contact prefix"></i>
                                <input class="validate" type="text" id="name" ng-model="signup.name" ng-minlength="4"
                                       ng-maxlength="25" name="name" required/>
                                <label for="name">Name</label>
                                <p ng-show="SignupForm.name.$error.minlength" class="errorStyles">name is too short.</p>
                                <p ng-show="SignupForm.name.$error.maxlength" class="errorStyles">name is too long.</p>

                            </div>

                            <div class="input-field">
                                <i class="ion-android-contact prefix"></i>
                                <input class="validate" type="email" id="email" ng-model="signup.email" name="email" required/>
                                <label for="email">E-mail</label>
                                <p ng-show="SignupForm.email.$error.email" class="errorStyles">In correct email.</p>
                            </div>

                            <div class="input-field" style="margin-bottom:20px;">
                                <i class="ion-android-lock prefix"></i>
                                <input class="validate" id="login-psw" type="password" ng-model="signup.password" ng-minlength="6" ng-maxlength="25"
                                       name="password"/>
                                <label for="login-psw">Password</label>
                                <p ng-show="SignupForm.password.$error.minlength" class="errorStyles">password is too short.</p>
                                <p ng-show="SignupForm.password.$error.maxlength" class="errorStyles">password is too long.</p>
                            </div>

                        </form>

                        <button class="waves-effect waves-light btn-large accent-color width-100 m-b-20 animated bouncein delay-4"
                                ng-disabled="!signup.email || !signup.password || !signup.name" ng-click="signup.userSignUp()">SignUP</button>
                        <span>Already registered? <a class="primary-text" ui-sref="login">Login</a></span>

                    </div><!-- End of Main Contents -->


                </div> <!-- End of Page Content -->
            </div>
        </div>
    </div>
</div>

